.record-container {
    position: sticky;
    top: 0;
}

.parent-info {
    display: flex;
}

.parent-info img{
    width: 20%;
    border: 2px solid #F8B332;
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
}

.child-info {
    display: flex;
    justify-content: space-around;
    border: 2px solid #F8B332;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.child-info p {
    color: #F8B332;
    font-weight: 700;
}

.break-container h3{
    margin-left: 20px;
}

.break-btn {
    background-color: #fff;
    font-weight: 700;
    border: 2px solid #F8B332;
    padding: 15px;
    border-radius: 50%;
    color: #F8B332;
}

.break-btn:hover {
    background-color: #F8B332;
    color: #fff;
}

.activity-details h3 {
    margin-left: 20px;
}

.complete-btn {
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #F8B332;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    margin: 20px;
}

.complete-btn:hover {
    background-color: #fff;
    color: #F8B332;
    border: 2px solid #F8B332;
}