h1, h2, h3, h4, h5, h6 {
    font-family: cursive;
}

.activities {
    margin-top: 50px;
}

.activity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .activity {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px)  {
    /* For tablets: */
    .activity {
        grid-template-columns: repeat(2, 1fr);
    }
}