.activity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px
}

.card {
    width: 220px;
    height: 550px;
    padding: 15px;
    border: 2px solid #F8B332;
    border-radius: 10px;
    position: relative
}

.card img{
    width: 100%;
    height: 200px;
}

.btn-add {
    width: 100%;
    background-color: #F8B332;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.btn-add:hover {
    background-color: #fff;
    color: #F8B332;
    border: 2px solid #F8B332;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .activity {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 350px;
        margin: 0 70px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px)  {
    /* For tablets: */
    .activity {
        grid-template-columns: repeat(2, 1fr);
    }
}